@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --primary-one: hsl(215, 51%, 70%);
  --primary-two: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  color: var(--primary-one);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}

.dFlex {
  display: flex;
  flex-direction: column;
}

.wrapper {
  justify-content: center;
  align-items: center;
  padding: 36px 12px;
  height: 100vh;
}

.cardContainer {
  background-color: var(--card-bg);
  box-shadow: 
    8px 8px 6px rgba(0, 0, 0, .15),
    -8px 8px 6px rgba(0, 0, 0, .15);
  border-radius: 14px;
  font-weight: 300;
  padding: 24px;
  padding-bottom: 32px;
  width: 100%;
  max-width: 350px;
}

.cardContainer .bgEquilibriumImg {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 14px;
  height: 302px;
}
.cardContainer .bgEquilibriumImg > .equilibriumImg {
  height: 100%;
  width: 100%;
}
.bgEquilibriumImg .previewCoverContainer {
  background-color: hsla(178, 100%, 50%, .65);
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: opacity .25s;
}
.cardContainer .bgEquilibriumImg:hover > .previewCoverContainer { opacity: 1; }

.cardContainer .mainInfoContainer { 
  border-bottom: 2px solid var(--line);
  gap: 18px; 
  padding: 20px 0 26px 0;
}

.mainInfoContainer .titleCard {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: color .25s;
}
.mainInfoContainer .titleCard:hover { color: var(--primary-two); }
.mainInfoContainer .descriptionCard { line-height: 24px; }

.mainInfoContainer .ethereumInfoContainer { 
  display: flex; 
  justify-content: space-between;
}

.mainInfoContainer .ethereumInfoContainer > .ethereumInfo, 
.mainInfoContainer .ethereumInfoContainer > .daysLeft {
  display: flex;
  gap: 8px;
  align-items: center;
}

.mainInfoContainer .ethereumInfoContainer > .ethereumInfo { color: var(--primary-two); }

.cardContainer .creationContainer {
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding-top: 20px;
}

.creationContainer .bgImageContainer {
  background-color: #fff;
  border-radius: 100%;
  padding: 2px;
  height: 42px;
  width: 42px;
}

.creationContainer .bgImageContainer > img {
  height: 100%;
  width: 100%;
}

.creationContainer .createByText > span { 
  color: #fff; 
  cursor: pointer;
  transition: color .25s;
}
.creationContainer .createByText > span:hover { color: var(--primary-two); }